
@{
    ViewBag.Title = "assignFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Failed</h2>
<h3>Paper cannot be assigned to more than 4 reviewers and a reviewer can only review a paper once.</h3>

