@model cms.Models.Paper

@{
    ViewBag.Title = "AuthorMainPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conference </h2>


@Html.ActionLink("Conference List", "IndexForUser", "Conferences")